{% extends 'base.html' %}

{% block title %} History {% endblock %}

<!-- Continue here -->
{% block content%}
<div>
    <table class="table table-hover">
        <thead>
            <tr>
              <th scope="col">Book</th>
              <th scope="col">Borrow Date</th>
              <th scope="col">Expected Return Date</th>
              <th scope="col">Return Date</th>
              <th scope="col">Return Status</th>
            </tr>
          </thead>
          <tbody>
            {% for book in books %}
            <tr>
              <td><a href="{% url 'book' book.slug %}">{{ book.name }}</a></td>
              <td>{{ book.date_borrowed }}</td>
              <td>{{ book.expected_return }}</td>
              <td>{{ book.return_date }}</td>
              {% if book.returned %}
                <td>Returned</td>
              {% else %}
                <td>Not Returned</td>
              {% endif %}
            </tr>
            {% empty %}
            <tr>
              No books borrowed or returned yet. <a href="{% url 'home' %}">Borrow</a> some books to see them here.
            </tr>
            {% endfor %}
          </tbody>
    </table>
</div>

{% endblock %}